name: Run tests for CI purposes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '18'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: check
  push:
    runs-on: ubuntu-latest
    needs: check
    if: github.ref == 'ref/heads/master'
    steps:
      - name: Log in to the container registry
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      = name: Deploy container
        uses: gradle/gradle-build-action@v2
        with:
          arguments: dockerTagsPush
